@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

* {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none !important;
   transition: all .2s linear;
}

$main-color: #512a10;
$black: #222;
$white: #fff;
$light-color: #666;
$light-bg: #eee;
$border: 1rem solid $main-color;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

@mixin grid($val) {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
   gap: 2rem;
}

@mixin title-text($titleSize) {
   font-size: $titleSize;
   text-transform: capitalize;
   color: $black;
}

@mixin graph-text($graphSize) {
   font-size: $graphSize;
   line-height: 2;
   color: $light-color;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6rem;

   &::-webkit-scrollbar {
      width: 1rem;
   }

   &::-webkit-scrollbar-track {
      background: transparent;
   }

   &::-webkit-scrollbar-thumb {
      background: $main-color;
   }
}

section {
   padding: 5rem 1rem;
}

.header {
   z-index: 1000;
   padding: 4rem 0;

   &.active {
      padding: 2rem 0;
      background: $main-color;
   }

   .logo {
      font-size: 2.5rem;
      color: $white;
      font-weight: bolder;
   }

   .navbar-nav {
      li {
         a {
            font-size: 2rem;
            margin-right: 2rem;
            color: $white;

            &:hover {
               text-decoration: underline !important;
               text-underline-offset: .5rem;
            }
         }

      }
   }

   .navbar-toggler {
      font-size: 2rem;
      background-color: $white;
   }

   .icons div {
      font-size: 2.5rem;
      color: $white  !important;
      margin-left: 2rem;
      cursor: pointer;

      .dropdown-item {
         font-size: 1.4rem;
      }
   }
}

.home {
   background: url(../images/home-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   span {
      font-size: 2.5rem;
      color: $white;
   }

   h3 {
      padding-top: 1rem;
      font-size: 5.5rem;
      color: $white;
   }

   .link-btn {
      display: block;
      width: auto;
      align-self: flex-start !important;
      padding: 1rem 2rem;
      margin-left: 2rem;
      margin-top: 2rem;
      border: 2px solid $white;
      color: $white;
      font-size: 1.4rem;
   }
}

.button-box {
   width: 22rem;
   margin: 2.5rem auto;
   position: relative;
   box-shadow: 0 0 2rem 0.9rem $light-bg;
   border-radius: 3rem;
}

.form-box .logo {
   font-size: 2rem;
   color: $main-color;
   font-weight: bolder;
}


.register-login {
   position: relative;

   .input-group {
      text-align: center;

      h3 {
         display: block;
         font-size: 1.8rem;
         width: 100%;
         margin: 1.5rem auto;
      }

      .box {
         display: inline-block;
         width: 100%;
         padding: 1rem 2rem;
         margin: 0.5rem 0;
         border-bottom: 1px solid #999;
         font-size: 1.6rem;
      }

      .modifier-password {
         width: 100%;
         display: flex !important;
         justify-content: space-between !important;
         align-items: center !important;
         font-size: 1.2rem;
         margin-top: 2.0rem
      }

      .submit-btn {
         width: 70%;
         margin: 4rem auto !important;
         padding: 1rem 3rem;
         cursor: pointer;
         border: 0;
         display: inline-block;
         font-size: 1.2rem;
         color: $light-bg;
         border-radius: 30px !important;
         background: linear-gradient(to right, $main-color, $light-color );
      }
   }

}

@media (max-width:990px) {
   .nav-item {
      width: 100%;
      line-height: 4rem;
      background-color: $white;
      border-bottom: 1px solid $main-color  !important;

      .nav-link {
         color: $main-color  !important;
         margin-left: 2rem;
      }

   }
}